# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE / Editor specific
.vscode/
.idea/

# Data & Logs
data/
logs/
*.log

# Mac OS specific
.DS_Store